<template>
  <select
    v-model="language"
    class="lang-selector"
  >
    <option value="en">
      English
    </option>
    <option value="fr">
      Français
    </option>
  </select>
</template>

<script>
import { defineComponent } from 'vue';
import { useLanguage } from '@tolgee/vue'

export default defineComponent({
    setup() {
        const language = useLanguage();
        return { language };
    },
});
</script>
