<script>
import { Dark } from 'quasar'
import { watch } from "vue"
import { T } from '@tolgee/vue'
import { useTranslate } from '@tolgee/vue'

export default {
    emits: [
        "addLevel", "removeLevel"
    ],
    props: {
        name: {type: String, default: ""},
        rating: {type: Number, default: 0},
        targetNumber: {type: Number, default: 20},
        skills: {type: Array, default: () => []},
        skillsFavorite: {type: Array, default: () => []},
        textSkills: {type: Array, default: () => []},
        secondaryAttribute: {type: Number, default: 0},
        secondaryAttributeName: {type: String, default: ""},
        enableLevelUp: {type: Boolean, default: false},
        experience: {type: Number, default: 0}
    },
    components: {
        T
    },
    setup() {
        const t = useTranslate();
        return { t }
    },
    methods: {
        setImage(dark) {
            if (dark) {
                this.img_fill = require("../assets/skill.svg")
                this.img_empty = require("../assets/skill_fill.svg")
            }
            else {
                this.img_fill = require("../assets/skill_fill.svg")
                this.img_empty = require("../assets/skill.svg")
            }
        },
    },
    data() {
        return {
            img_fill: require("../assets/skill.svg"),
            img_empty: require("../assets/skill_fill.svg")
        }
    },
    created() {
        watch(() => Dark.mode, val => {
            this.setImage(val)
        })
        this.setImage(Dark.mode)
    }
}
</script>

<template>
  <div class="skill_group">
    <p class="skill_title">
      <b>
        {{ name }}
      </b>
    </p>
    <div
      class="container"
      v-if="rating != 0"
    >
      <!-- First row -->
      <div class="item" />
      <div class="item" />
      <div class="item" />
      <div class="item item-rating item-description">
        <T key-name="rating" />
      </div>
      <!-- Second row -->
      <div class="item" />
      <div class="item" />
      <div class="item item-rating item-value">
        <img
          :src="img_empty"
          width="40"
        >
        <div class="center-small">
          {{ rating }}
        </div>
      </div>
      <div class="item" />
      <!-- Third row -->
      <div class="item" />
      <div class="item item-tn item-value">
        <img
          :src="img_empty"
          width="60"
        >
        <div class="center-large">
          {{ targetNumber }}
        </div>
      </div>
      <div class="item" />
      <div class="item" />
      <!-- Fourth row -->
      <div class="item item-tn item-description">
        TN
      </div>
      <div class="item" />
      <div class="item item-attribute item-value">
        <img
          :src="img_empty"
          width="40"
        >
        <div class="center-small">
          {{ secondaryAttribute }}
        </div>
      </div>
      <div class="item" />
      <!-- Fifth row -->
      <div class="item" />
      <div class="item" />
      <div class="item" />
      <div class="item item-attribute item-description">
        {{ t(secondaryAttributeName) }}
      </div>
    </div>

    <table class="skill_table">
      <tr
        v-for="(item, index) in skills"
        :key="index"
        class="skill"
      >
        <th>
          <!-- Favorite skill -->
          <q-icon
            v-if="skillsFavorite[index]"
            name="fas fa-heart"
          />
          <q-icon
            v-else-if="skillsFavorite.length != 0"
            name="far fa-heart"
          />
          <!-- Ghost -->
          <q-icon
            v-else
            name="far fa-heart"
            class="ghost"
          />
        </th>
        <th>
          {{ textSkills[index] }}
        </th>
        <th>
          <i
            v-for="i in item"
            :key="i"
          >
            <img
              :src="img_fill"
            >
          </i>
          <i
            v-for="i in (6 - item)"
            :key="i"
          >
            <img
              :src="img_empty"
            >
          </i>
          <i v-if="enableLevelUp">
            <button
              @click="this.$emit('removeLevel', index)"
              :disabled="item === 0"
            >-</button>
            <button
              @click="this.$emit('addLevel', index)"
              :disabled="item === 6 || experience < this.$xp_costs[item]"
            >
              +
            </button>
          </i>
        </th>
      </tr>
    </table>
  </div>
</template>

<style lang="scss">
$own-red: #af2c2b;

.skill {
    margin-left: 10px;
    list-style-type: none;
    text-align: left;
}
.skill_title {
    margin-top: 10px;
    margin-bottom: 20px;
    color: $own-red;
    text-align: center;
}
.skill_group {
    flex-wrap: no-wrap;
    text-align: center;
}

.skill_table {
    margin: auto
}

.ghost {
    opacity: 0;
}

.container {
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: [first] 10px [line2] 42px [line3] 29px [line4] 10px;
    grid-template-rows: [first] 4px [line2] 16px [line3] 37px [line4] 30px [line5] 30px;

    .item-value {
        font-size: large;
        position: relative;
    }

    .item-description {
        font-size: x-small;
        font-weight: bold;
    }

    .center-small {
        position: relative;
        top: -41px;
        left: 5px;
        text-align: center;
    }
    .center-large {
        position: absolute;
        top: 18px;
        left: 18px;
    }
}

</style>
