<script>
import { useQuasar } from 'quasar'

export default {
    emits: ['server', 'player_name'],
    data() {
        return {
            quasar: useQuasar()
        }
    },
    methods: {
        async showPrompts(override) {
            // Server
            if (!override && localStorage.server) {
                this.$emit("server", localStorage.server)
            }
            else {
                let answer = new Promise(resolve => {
                    this.quasar.dialog({
                        title: "Server Address",
                        message: "What is your server address? (Ask your loremaster if you do not know)",
                        prompt: {
                            model: '',
                            type: 'text' // optional
                        },
                        cancel: false,
                        persistent: true,
                    }).onOk(resolve)
                })
                await answer.then(data => {
                    if (data.indexOf("http") == -1) {
                        data = "http://" + data
                    }
                    this.$emit("server", data)
                    localStorage.server = data
                })
            }

            if (!override && localStorage.player_name) {
                this.$emit("player_name", localStorage.player_name)
            }
            else {
                // Player
                let answer = new Promise(resolve => {
                    this.quasar.dialog({
                        title: "Player name",
                        message: "What is your name?",
                        prompt: {
                            model: '',
                            type: 'text' // optional
                        },
                        cancel: false,
                        persistent: true,
                    }).onOk(resolve)
                })
                answer.then(data => {
                    this.$emit("player_name", data)
                    localStorage.player_name = data
                })
            }
        }
    },
    created() {
        this.showPrompts(false)
    }
}
</script>

<template>
  <div />
</template>
