<template>
  <!-- notice dialogRef here -->
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
    :title="title"
  >
    <q-card>
      <div>
        <p style="text-align: center;">
          <b>
            {{ title }}
          </b>
        </p>
        <q-input
          v-model="editor"
          type="textarea"
        />
      </div>
      <q-card-actions align="right">
        <q-btn
          color="primary"
          label="OK"
          @click="onOKClick"
        />
        <q-btn
          color="primary"
          label="Cancel"
          @click="onCancelClick"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
    props: {
        title: {type: String, default: ""},
        initialText: {type: String, default: ""}
    },

    emits: [
        // REQUIRED; need to specify some events that your
        "ok", "hide"
    ],

    data() {
        return {
            editor: this.initialText
        }
    },
    setup () {
    },
    methods: {

        // following method is REQUIRED
        // (don't change its name --> "show")
        show () {
            this.$refs.dialog.show()
        },

        // following method is REQUIRED
        // (don't change its name --> "hide")
        hide () {
            this.$refs.dialog.hide()
        },

        onDialogHide () {
            // required to be emitted
            // when QDialog emits "hide" event
            this.$emit('hide')
        },

        onOKClick () {
            // on OK, it is REQUIRED to
            // emit "ok" event (with optional payload)
            // before hiding the QDialog
            this.$emit('ok', this.editor)
            // or with payload: this.$emit('ok', { ... })

            // then hiding dialog
            this.hide()
        },

        onCancelClick () {
            // we just need to hide the dialog
            this.hide()
        }
    }
}
</script>
