<template>
  <TolgeeProvider :config="config">
    <q-layout
      view="lHh Lpr lFf"
      class="player"
    >
      <q-header
        elevated
        class="glossy"
      >
        <q-toolbar>
          <q-btn
            flat
            dense
            round
            @click="leftDrawerOpen = !leftDrawerOpen"
            aria-label="Menu"
            icon="fas fa-bars"
          />

          <q-toolbar-title>
            <T key-name="player_interface" />
          </q-toolbar-title>

          <q-btn
            flat
            dense
            round
            @click="fetchPlayer(); fetchFellowship()"
            icon="fas fa-sync"
          />
        </q-toolbar>
      </q-header>

      <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        bordered
      >
        <q-list>
          <q-item-label header>
            <T key-name="menu" />
          </q-item-label>
          <q-item
            clickable
            tag="a"
            target="_blank"
            href="https://discord.gg/rTDunJrNdz"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-comments" />
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <T key-name="get_support" />
              </q-item-label>
              <q-item-label caption>
                <T key-name="contact_discord" />
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item
            clickable
            tag="a"
            target="_blank"
            @click="resetCookies()"
          >
            <q-item-section avatar>
              <q-icon name="fas fa-cookie-bite" />
            </q-item-section>
            <q-item-section>
              <q-item-label>
                <T key-name="reset_cookies" />
              </q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="fas fa-moon" />
            </q-item-section>
            <q-item-section>
              <T key-name="dark_mode" />
            </q-item-section>
            <q-item-section>
              <q-toggle
                v-model="dark"
              />
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="fas fa-globe" />
            </q-item-section>
            <q-item-section>
              <T key-name="language" />
            </q-item-section>
            <q-item-section>
              <LanguageSwitcher />
            </q-item-section>
          </q-item>
        </q-list>
      </q-drawer>

      <q-page-container>
        <StartPopup
          ref="popup"
          @server="(data) => {
            server = data
            fetchPlayer()
            fetchFellowship()
          }"
          @player_name="(data) => {
            player_name = data
            fetchPlayer()
            fetchFellowship()
          }"
        />
        <PlayerCharacteristics
          :player="player"
          :fellowship="fellowship"
          :server="server"
          @update_player="fetchPlayer()"
        />
      </q-page-container>
    </q-layout>
  </TolgeeProvider>
</template>

<script>
import { ref } from 'vue'
import { watch } from "vue"
import { useQuasar } from 'quasar'
import { T } from '@tolgee/vue'
import { TolgeeProvider } from '@tolgee/vue'

import PlayerCharacteristics from "./components/player_characteristics.vue"
import StartPopup from "./components/start_popup.vue"
import LanguageSwitcher from "./components/language_switcher.vue"

import enLang from "../locales/en.json"
import frLang from "../locales/fr.json"

const backend_version = 4.0;

export default {
    name: 'LayoutDefault',
    data() {
        let config = {}
        if (process.env.NODE_ENV == "development") {
            config = {
                apiUrl: process.env.VUE_APP_TOLGEE_API_URL,
                apiKey: process.env.VUE_APP_TOLGEE_API_KEY,
            }
        }
        else {
            config = {
                preloadFallback: false,
                staticData: {
                    en: enLang,
                    fr: frLang,
                },
                availableLanguages: ["en", "fr"]
            }
        }
        return {
            player_name: null,
            player: null,
            fellowship: null,
            server: null,
            config: config,
        }
    },
    components: {
        PlayerCharacteristics,
        StartPopup,
        TolgeeProvider,
        T,
        LanguageSwitcher
    },
    methods: {
        async fetchPlayer() {
            if (this.server == null || this.player_name == null) {
                return;
            }
            let response = await fetch(this.server + "/player/" + this.player_name)
            if (response.status != 200) {
                this.quasar.notify({
                    color: "red",
                    message: "Failed to fetch player: " + this.player_name,
                    position: "top",
                })
            }
            else {
                this.player = await response.json()
            }
        },
        async fetchFellowship() {
            if (this.server == null) {
                return;
            }
            let response = await fetch(this.server + "/fellowship")
            if (response.status != 200) {
                this.fellowship = null
            }
            else {
                this.fellowship = await response.json()
            }
        },
        resetCookies() {
            var popup = this.$refs.popup;
            popup.showPrompts(true)
        },
        setTheme(val) {
            this.quasar.dark.set(val)
            localStorage.dark = val
        },
        async checkVersion() {
            // Ensure to have a server
            while(this.server == null) {
                await new Promise(resolve => setTimeout(resolve, 200))
            }

            // Get the version
            let response = await fetch(this.server + "/version")
            while (response.status != 200) {
                response = await fetch(this.server + "/version")
            }

            // Extract the version
            const text = await response.text()
            let version = text.split(".")
            version = text[0] + "." + text[2]

            // Compare the version
            if (backend_version > version) {
                this.quasar.notify({
                    color: "red",
                    message: "The version of the frontend is not compatible with the backend. Please ask your loremaster to update his/her software",
                    position: "top",
                })
            }
        }
    },

    created() {
        // Set dark mode
        watch(() => this.dark, val => {
            this.setTheme(val);
        })
        this.setTheme(this.dark)

        // Regularly fetch player
        setInterval(() => {
            this.fetchPlayer()
        }, 3000)

        // Regularly fetch fellowship info
        setInterval(() => {
            this.fetchFellowship()
        }, 15000)

        // Fetch Player
        this.fetchPlayer()
        this.fetchFellowship()

        // Check version
        this.checkVersion()
    },

    setup () {
        let dark = null
        if (localStorage.dark !== "undefined" && localStorage.dark !== null) {
            dark = ref(localStorage.dark === "true")
        }
        else {
            dark = ref(true)
        }
        return {
            quasar: useQuasar(),
            leftDrawerOpen: ref(false),
            dark: dark,
        }
    }
}
</script>

<style lang="scss">
.player {
    text-align: center;
}
body.body--light {
    background: #fffeee
}
</style>
